.game-board {
  background-color: #505050;
  width: 500px;
  height: 500px;
  position: relative;
}

.game-board-square {
  background-color:  #000;
  width: 100px;
  height: 100px;
  position: absolute;
}

.game-board-square:hover {
  background-color: #003300;
}